ssh_public_key        = "ssh-rsa AAAAB3N..."
azure_subscription_id = "00000000-0000-0000-0000-000000000000"
gcp_project_id        = "my-gcp-chaos-project"
tailscale_auth_key    = "tskey-auth-xxxxxx-xxxxxx"

# Used by all nodes to find each other via MagicDNS
cluster_join_nodes = "crdb-linode-1,crdb-linode-2,crdb-azure-1,crdb-azure-2,crdb-gcp-1"

linode_config = {
  nodes = {
    node1 = {
      enabled  = true
      region   = "us-east"
      type     = "g6-dedicated-2"
      hostname = "crdb-linode-1"
    }
    node2 = {
      enabled  = true
      region   = "us-west"
      type     = "g6-dedicated-2"
      hostname = "crdb-linode-2"
    }
  }
}

azure_config = {
  nodes = {
    node1 = {
      enabled     = true
      region      = "eastus"
      vnet_cidr   = "10.3.0.0/16"
      subnet_cidr = "10.3.1.0/24"
      vm_size     = "Standard_D2s_v5"
      hostname    = "crdb-azure-1"
    }
    node2 = {
      enabled     = true
      region      = "westus"
      vnet_cidr   = "10.4.0.0/16"
      subnet_cidr = "10.4.1.0/24"
      vm_size     = "Standard_D2s_v5"
      hostname    = "crdb-azure-2"
    }
  }
}

gcp_config = {
  nodes = {
    node1 = {
      enabled      = true
      region       = "us-central1"
      zone         = "us-central1-a"
      vpc_cidr     = "10.5.0.0/16"
      machine_type = "n2-standard-2"
      hostname     = "crdb-gcp-1"
    }
  }
}